@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Caveat&family=Libre+Baskerville&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  text-align: center;
  padding: 30px;
  font-size: 40px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px #fff;
}

.gradient-background {
  background: linear-gradient(300deg, #222, #00bfff, #666);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  height: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loader {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 40px; */
}

.img-container {
  margin: 10px 30%;
}

.img-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .img-container {
    margin: 10px;
  }
}
